{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Link Checker Results" %}{% endblock %}
{% block bodyclass %}menu-linkchecker{% endblock %}
{% block content %}
<header class="nice-padding">
    <div class="row">
        <div class="left">
            <div class='col'>
                <h1 class="icon icon-link">{% blocktrans %}Link Checker{% endblocktrans %}</h1>
            </div>
        </div>
        <div class='right'>
			<a href="{% url 'wagtaillinkchecker' %}" class="button bicolor icon icon-arrow-left">
				{% blocktrans %}Back{% endblocktrans %}
			</a>
        </div>
    </div>
</header>
<div class="nice-padding">
	<h2>{% blocktrans %}Results{% endblocktrans %}</h2>
	<hr />
	{% if scan.links.broken_links %}
	<h3>{% blocktrans %}Broken Links{% endblocktrans %}</h3>
	<div style="overflow: auto; position:relative;">
		<table class="listing">
			<thead>
				<tr class="table-headers">
					<th class="title">{% blocktrans %}Page{% endblocktrans %}</th>
					<th class="link">{% blocktrans %}Link{% endblocktrans %}</th>
					<th class="error">{% blocktrans %}Error{% endblocktrans %}</th>
					<th class='owner'>{% blocktrans %}Page Owner{% endblocktrans %}</th>
					<th class='primary_contact'>{% blocktrans %}Primary Contact{% endblocktrans %}</th>
					<th class='contact_information'>{% blocktrans %}Contact Info{% endblocktrans %}</th>
					<th class='edit'>{% blocktrans %}{% endblocktrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for link in scan.links.broken_links_sorted_by_primary_contact %}
				<tr>
					<td style="word-break: break-word; min-width: 100px" class="title">
						<a href="{{link.page.url}}" target="_blank">{{link.page.title}}</a>
					</td>
					<td class="link" style="word-break: break-word; min-width: 150px"><a href='{{link}}'
							target="_blank">{{link}}</a>{% if link.page_is_deleted %}<br /><b>{% blocktrans %}Info: </b>PAGE CONTAINING
						THIS LINK WAS DELETED{% endblocktrans %}{% endif %}</td>
					<td style="word-break: break-word; min-width: 100px" class="error">
						{{link.error_text}}
					</td>
					<td class='owner'>{{link.page.owner}}</td>
					<td class='primary_contact' style="min-width: 100px">{{link.primary_contact}}</td>
					<td class='contact_information' style="min-width: 100px">{{link.contact_information}}</td>
					<td class='edit' style="float: right;">
						{% if link.page.id %}
							<ul>
								<li>
									<a href="{% url 'wagtailadmin_pages:edit' link.page.id %}" target="_blank"
										class="button button-small">{% blocktrans %}Edit Page{% endblocktrans %}</a>
								</li>
							</ul>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<br>
	{% endif %}
	<br>
	{% if scan.links.non_crawled_links.exists %}
	<h2>{% blocktrans %}Links still to be scanned {% endblocktrans %}</h2>
	<hr />
	{% for link in scan.links.non_crawled_links %}
	<p>
		<a href='{{link}}' target="_blank">{{link}}</a>{% if link.page_is_deleted %} - {% blocktrans %}PAGE CONTAINING LINK
		WAS DELETED{% endblocktrans %}{% endif %}
	</p>
	{% endfor %}
	{% endif %}
	{% if not scan.links.broken_or_invalid_links.exists %}
	<p>{% blocktrans %}There are no broken or invalid links to display.{% endblocktrans %}</p>
	{% endif %}
	<a href="{% url 'wagtaillinkchecker' %}"
		class="button bicolor icon icon-arrow-left">{% blocktrans %}Back{% endblocktrans %}</a>
</div>
{% endblock %}